aiofiles
aiohttp
aioshutil
anytree
apscheduler
aioaria2
aioqbt
cinemagoer
cloudscraper
dnspython
fastapi
feedparser
gunicorn
httpx
langcodes
jinja2
lxml
motor
natsort
par2cmdline-turbo
pillow
psutil
pycountry
pymongo
pyrofork==2.2.11
python-magic
pytz
requests
speedtest-cli
telegraph
tenacity
tgcrypto
urllib3
uvicorn
uvloop; sys_platform != "win32"
xattr; sys_platform != "win32"
yt-dlp[default,curl-cffi]
